.radio
    form.radio__list
        .radio__item
            label.radio__item_label
                input.radio__real1
                span.radio__fake1

        .radio__item
            label.radio__item_label
                input.radio__real2
                span.radio__fake2
