.left__btn-group
    .lang
        .lang__btn-wrap
            a(href="").lang__btn
                |РУС
        .lang__btn-wrap
            a(href="").lang__btn
                |ENG 

    .share
        .share__btn-wrap
            a(href="" alt="facebook").share__btn.share__btn_fb
            .share__btn-wrap
                a(href="" alt="facebook").share__btn.share__btn_like 

        .share__btn-wrap
            a(href="" alt="tweeter").share__btn.share__btn_tw 
        
        .share__btn-wrap
            a(href="" alt="vkontacte").share__btn.share__btn_vk