.left__btn-group
    .lang
        .lang__btn-wrap
            a(href="#").lang__btn
                |РУС
        .lang__btn-wrap
            a(href="#").lang__btn
                |ENG 

    .share#share
        .share__btn-wrap

            a(href="#" alt="facebook").share__btn.share__btn_fb.fb-share#fb-share
            .share__btn-wrap
                a(href="#" alt="facebook").share__btn.share__btn_like.fb-share

            a(href="" alt="facebook").share__btn.share__btn_fb#fb-share
            .share__btn-wrap
                a(href="" alt="facebook").share__btn.share__btn_like#like

