.left__btn-group
    .lang
        .lang__btn-wrap
            a(href="#").lang__btn
                |РУС
        .lang__btn-wrap
            a(href="#").lang__btn
                |ENG 

    .share
        .share__btn-wrap
            a(href="#" alt="facebook").share__btn.share__btn_fb.fb-share#fb-share
            .share__btn-wrap
                a(href="#" alt="facebook").share__btn.share__btn_like.fb-share

        .share__btn-wrap
            a(href="#" alt="tweeter").share__btn.share__btn_tw#tw-share
        
        .share__btn-wrap
            a(href="#" alt="vkontacte").share__btn.share__btn_vk#vk-share