/* btn__box */

.btn__box{
    margin-top: 55px;
    padding: 0px 9px;
    margin-bottom: 25px;
    @include clearfix;
    // clear: both;
}

.btn{
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    width: 99px;
    font-family: 'robotomedium', sans-serif;
    @include outline;
    cursor: pointer;
    cursor: url("../img/images/cursor.cur"), auto;
}

.btn__clear{
    background-color: #c1cfd9;
    // margin-right: 37px;
    float: left;
    &:hover{
        border: 1px solid #a6b2bb;
        box-shadow: 0 3px 1px 0 #afbbc5 inset;
    }
}

.btn__save{
    background-color: #f97e76;
    float: right;
    &:hover{
        border: 1px solid #e3736c;
        box-shadow: 0 3px 1px 0 #e7756e inset;
    }
}