body{
    background: url('../img/bg.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'robotolight', sans-serif;
    line-height: 1.4;
    padding-bottom: 50px;
    margin: 0;
}
.container{
    width: 960px;
    margin: 60px auto;
    @include clearfix;
}


/****main-bl*****/
.main-bl{
    float: left;
    width: 700px;
    height: auto;
    background: #61585b;

    .main-title{
        font-family: "SegoeUILight", sans-serif;
        font-weight: 300;
        padding-top: 9px;
        padding-left: 21px;
        font-size: 36px;
        color: #fff;
        margin: 0;
    }

    .mainIMG{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 10;
    }
}

/****controls-bl*****/
.controls-bl{
    display: block;
    float: right;
    width: 260px;
    height: auto;
    background: #f1f1f5;
}

/****controls-title****/
.controls-title{
    font-size: 26px;
    text-align: center;
    margin: 0;
    margin-top: 26px;
    line-height: 1;
    padding-right: 6px;
}

.aim-img{
    width: 648px;
    height: 533px;
    margin: 54px auto 25px;
    background-color: #fff;
}

/****form__input*****/

/*.input-group__input{
    background-color: #fff;
    border: 1px solid #c1cfd9;
    color: #c1cfd9;
    padding: 8px 6px;
    width: 180px;
    border-radius: 5px;
    font-size: 12px;
}


.input-group__icon{
    background-image: url('../img/images/cloud.png');
    width: 30px;
    height: 30px;
}

.file__up-img{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.file-holder{
    position: relative;
    width: 220px;
    background-color: #fff;
    border: 1px solid #c1cfd9;
    color: #c1cfd9;
    overflow: hidden;
    border-radius: 5px;  
    display: block;
    line-height: 12px;
    cursor: pointer;
}

.file-holder__name{
    font-family: "SegoeUILight", sans-serif;
    width: 170px;
    background-color: #fff;
    font-size: 12px;
    height: 100%;
    float: left;
    padding: 7px 2px;
    padding-right: 0;
    margin: 0 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.file-holder__btn{
    float: right;
    width: 38px;
    text-align: center;
}

.file__up{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}*/


/****form__group*****/

.form__group{
    border-bottom: 1px solid #f97e76;
    position: relative;
    padding: 0px 20px;
    &:after{
        content: "";
        position: absolute;
        bottom: -13px;
        right: 50%;
        width: 10px;
        height: 10px;
        border: 1px solid white;
        border-top-color: transparent;
        border-right-color: transparent; 
        border-bottom-color: #f97e76;
        border-left-color: #f97e76;
        background: #f1f1f5;
        transform: translateY(-50%) translateX(50%) rotate(-45deg);
    }
}

.form__group-wrap {
    @include clearfix;
}

.group-wrap__image{
    margin-top: 34px;
    margin-bottom: 29px;
}

.group-wrap__placement{
    margin-top: 14px;
    margin-bottom: 23px;
}

.group-wrap__transparency{
    margin: 15px 0;
    margin-bottom: 20px;
}


/****form__group Name*****/

.form__label{
    font-size: 14px;
    // padding-top: 15px;
    color: #2e3641;
    display: block;
}

.form__label.original-image {
    margin-bottom: 6px;  
    }


.form__label.watermark-image{
    margin-top: 20px;
    margin-bottom: 6px;
}

.header__placement{
    margin-bottom: 57px;
}

.form__label.place-title{
    width: 100px;
    float: left;
}

.form__label.transparency-title {
    margin-bottom: 27px;
}


/* radio */


.radio__tiling {
    cursor: pointer;
    display: inline-block;
    width: 19px;
    height: 19px;
    &_true {
        background: url(../img/images/tiling.jpg) no-repeat center;
        &:hover {
            background: url(../img/images/tiling_hover.jpg) no-repeat center;
        }
    }
    &_false {
        background: url(../img/images/notiling.jpg) no-repeat center;
        &:hover{
            background: url(../img/images/notiling_hover.jpg) no-repeat center;
        }
    }
    &_input {
        display: none;
        position: relative;
        &_false:checked + label {
            background: url(../img/images/notiling_active.jpg) no-repeat center;
        }
        &_true:checked + label {
            background: url(../img/images/tiling_active.jpg) no-repeat center;
        }

    }
}