.place-title__change-view{
    width: 100px;
    float: right;
    display: block;
}

/*****radio******/
.radio{
    text-align: right;
}

.radio__item{
    width: 20px;
    display: inline-block;
}

.radio__item_label{
    position: relative;
    cursor: pointer;
}

/*************************/
.position-select__wrap{
    // @include clearfix;
    width: 230px;
    clear: both;
    display: table;
}
/* choose-position */
.choose-position{
    width: 102px;
    float: left;
    font-size: 0;
    letter-spacing: 0px;
    word-spacing: 0px;
    border: 1px solid #c1cfd9;
    border-radius: 7px;
    overflow: hidden;
}


.choose-position__item{
    width: 32px;
    height: 32px;
    border: 1px solid #c1cfd9;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    background-color: #dbe1e8;
    cursor: pointer;
    @include clearfix;

    &:hover{
        background-color: #f97e76;
        border-color: #f97e76;
    }

    .active{
        background-color: #f97e76;
        border-color: #f97e76;
    }
}

/*count-position*/
.count-position{
    width: 100px;
    float: right;
    color: #444a53;
}


.input-group_count{
    float: right;
}


.count-position__item_xxx{
    position: relative;
    &:before{
        content: '';
        display: block;
        position: absolute;
        background-image: url('../img/images/vert.png');
        right: -14px;
        top: 10px;
        width: 10px;
        height: 29px;
    }
}

.count-position__item_x{
    font-size: 16px;
    position: relative;
    &:before{
        content: 'X';
        display: block;
        position: absolute;
        font-size: 16px;
        right: -6px;
        top: 10px;
        width: 10px;
        height: 29px;
    }
}

.count-position__item_yyy{
    position: relative;
    &:before{
        content: '';
        display: block;
        background-image: url('../img/images/horiz.png');
        position: absolute;
        right: -14px;
        top: 21px;
        width: 29px;
        height: 10px;
    }
}

.count-position__item_y{
    position: relative;
    &:before{
        content: 'Y';
        display: block;
        font-size: 16px;
        position: absolute;
        right: -25px;
        top: 15px;
        width: 29px;
        height: 10px;
    }
}



.count-position__item{
    width: 44px;
    height: 41px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #c1cfd9;
    margin-bottom: 10px;
    margin-left: 17px;
    background: transparent;
    color: #444a53;
    cursor: pointer;
}


/*********/
.dif__btn-group{
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
    // margin-left: 4px;
}


.position__choose{
    display: block;
    width: 15px;
    height: 8px;
    cursor: pointer;
    @include outline;
}

.position__choose-increase{  
    background-image: url('../img/images/inc.png');
    margin-top: 4px;
    margin-bottom: 22px;
    &:hover{
        background-image: url('../img/images/inc_hover.png');
    }
}

.position__choose-reduce{
    background-image: url('../img/images/dec.png');
}