extends ../main

block block
    .main-bl
        .main-title(style='opacity: 1;') Генератор водяных знаков
        .watermark-work(data-bg='watermark-work-rus')
            .aim-img
    .controls-bl
        h3.controls-title Настройки
        form.form#form
            input(type='hidden', name='aim-img')
            input(type='hidden', name='watermark')
            input(type='hidden', name='opacity', value='1')
            input(type='hidden', name='mode')
            .form__group
                .form__group-wrap.group-wrap__image
                    label.form__label.original-image Исходное изображение
                    .file-holder
                        p.file-holder__name.mainImg Image.jpg
                        .file-holder__btn
                            img(src="../img/images/cloud.png" alt="").file__up-img
                        input(id="fileuploadImage" type="file" name="files[]" data-url="server/php/" data-position="left" title="изображение" data-file-name-input='#image').file__up
                        //- input(id="mainIMGName" class="filesNames")
                    label.form__label.watermark-image Водяной знак
                    .file-holder
                        p.file-holder__name.mainWatermark Image.png
                        .file-holder__btn
                            img(src="../img/images/cloud.png" alt="").file__up-img
                        input(id="watermark" type="file" name="files[]" data-url="server/php/" data-position="left" title="изображение" data-file-name-input='#watermark' disabled).file__up
                        //- input(id="mainMARKName" class="filesNames")
            .form__group
                .form__group-wrap.group-wrap__placement
                    header.header__placement
                        label.form__label.place-title Положение
                        span.place-title__change-view

                            .radio
                                form.radio__list
                                    .radio__item
                                        input.radio__tiling_input.radio__tiling_input_true(type='radio' id="true" value="true" name="tiling"  disabled="disabled")
                                        label.radio__tiling.radio__tiling_true(for="true")

                                    .radio__item
                                        input.radio__tiling_input.radio__tiling_input_false(type='radio' id="false" value="false" name="tiling" checked="checked" disabled="disabled")
                                        label.radio__tiling.radio__tiling_false(for="false")
                    .position-select__wrap
                        .position-select__choose.choose-position
                            - for (var i = 0; i < 9; i++)
                                .choose-position__item

                        .position-select__choose.count-position
                            .input-group_count.count-position__item_x
                                label.input-group__label_count(for='moveX')
                                input#moveX.count-position__item(name='value_x', value='0', aria-valuenow='0', autocomplete='off', role='spinbutton')
                                //- .dif__btn-group
                                    a(tabindex='-1', role='button').position__choose.position__choose-increase
                                    a(tabindex='-1', role='button').position__choose.position__choose-reduce

                            .input-group_count.count-position__item_y
                                label.input-group__label_count(for='moveY') 
                                input#moveY.count-position__item(name='value_y', value='0', aria-valuenow='0', autocomplete='off', role='spinbutton')
                                //- .dif__btn-group
                                    a(tabindex='-1', role='button').position__choose.position__choose-increase
                                    a(tabindex='-1', role='button').position__choose.position__choose-reduce
            .form__group
                .form__group-wrap.group-wrap__transparency
                    label.form__label.transparency-title Прозрачность
                    #slider                            
            .btn__box
                button.btn.btn__clear#reset(type='reset' disabled="disabled") Сброс
                button.btn.btn__save#submit(type='submit' disabled="disabled") Скачать
